<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smd.wssl_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wssl"
        android:label="@string/app_name"

        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_wssl"
        android:supportsRtl="true"
        android:theme="@style/Theme.WSSL_App"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".MemberProfile"
            android:exported="false" />
        <activity
            android:name=".AddClubForm"
            android:exported="false" />
        <activity
            android:name=".AddInternshipForm"
            android:exported="false" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".ChatMembers"
            android:exported="false" />
        <activity
            android:name=".ChatPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".YourProfilePage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubjectGroups"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".InternshipCategory"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".InternshipsPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ClubsPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SignInFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SignUpLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Welcome"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>